<%- include("../partials/head.ejs"); %>

<div class="container">
  <div class="login">
    <%- include("../partials/servicename.ejs"); %>
    <div class="panel">
      <form action="/cs" method="post">
        <p>メールアドレス</p>
        <input type="text" name="email" />
        <p>パスワード</p>
        <input type="password" name="password" />
        <input type="submit" value="ログイン" />
        <a href="browse/forgetpassword" class="linkbox">パスワードを忘れたら</a>
      </form>
    </div>
  </div>
</div>
<%- include("../partials/footer.ejs"); %>
