
  <div class="header-nav">
    <div class="favicon">
      <a href="/browse/home"> <img src="/images/primedrive_logo.svg" /> </a>
    </div>
    <p>ようこそ、<%= locals.username %>さん</p>
    <ul>
      <li><a href="/browse/settingAccount">設定</a></li>
      <li><a href="/browse/logout">ログアウト</a></li>
    </ul>
  </div>
</body>
