<!DOCTYPE html>
<html>
  <head>
    <%- include("../../parts/head.ejs"); %>  
  </head>
  <body>
    <%- include("../../parts/header.ejs");  %> 
    <div class="home">
      <div class="wrapper">
        <div class="content">
          <a class="btn" href="/browse/matching-main">マッチング開始</a>
        </div>
      </div>
    </div>
  </body>
</html>