<!DOCTYPE html>
<html>
  <head>
    <%- include("../../parts/head.ejs"); %>
  </head>
  <body>
    <div class="mainView">
      <%- include("../../parts/header.ejs"); %>
      <div class="home">
        <div class="contentView">
          <div class="leftToolBar">
            <button class="homeButton"></button>
            <button class="shareButton"></button>
            <button class="favoriteButton"></button>
            <button class="dustboxButton"></button>
          </div>
          <div class="treeView">
            <div class="dropZone">
              <div class="treeViewItemsArea">
                <div class="treeViewItem">
                  <button>item1</button>
                </div>
                <div class="treeViewItem">
                  <button>item2</button>
                </div>
              </div>
            </div>
          </div>
          <div class="splitBar">
            <div class="splitBarLine"></div>
          </div>
          <div class="contentMiddle">
            <div class="listView">
              <div class="listViewTables">
                <button>aaa</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
