<!DOCTYPE html>
<html>
  <head>
    <%- include("../../parts/head.ejs"); %>  
  </head>
  <body>
    <div class="sign">
      <div class="container">
        <%- include("../../parts/servicename.ejs"); %>
        <div class="panel">
          <!-- <h2>ログイン</h2> -->
          <form action="/browse" method="post">
            <p>コーポレートID</p>
            <input type="text" name="corpId">
            <p>メールアドレス</p>
            <input type="text" name="email">
            <p>パスワード</p>
            <input type="password" name="password">
            <input type="submit" value="ログイン">
            <a href="/browse/forgetpassword" class="linkbox">パスワードを忘れたら</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>