<!DOCTYPE html>
<html>
  <head>
    <%- include("./parts/head.ejs"); %>  
  </head>
  <body>
    <%- include("./parts/header.ejs");  %> 
    <div class="home">
      <div class="wrapper">
        <div class="content">
          <a class="btn" href="/matching-main">マッチング開始</a>
        </div>
        <div class="sub-content">
          <a class="btn" href="/friends-list">友達リスト</a>
          <a class="btn" href="/profile-main">マイステータス</a>
        </div>
      </div>
    </div>
  </body>
</html>