<!DOCTYPE html>
<html>
  <head>
    <%- include("../../parts/head.ejs"); %>
  </head>
  <body>
    <%- include('../../parts/header.ejs'); %>
    <main>
      <div class="content">
        <a class="btn" href="/admin/signup">ユーザー新規登録</a>
      </div>
      <ul class="list">
        <% corporateUsers.forEach((corporateUser) => { %>
        <li>
          <h2><%= corporateUser.username %></h2>
          <p><%= corporateUser.email %></p>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
