<!DOCTYPE html>
<html>
  <head>
    <%- include("../../parts/head.ejs"); %>
  </head>
  <body>
    <%- include('../../parts/header.ejs'); %>
    <main>
      <ul class="list">
        <% freeFriends.forEach((freeFriend) => { %>
        <li>
          <h2><%= freeFriend.username %></h2>
          <p><%= freeFriend.email %></p>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
