<body>
    <div class="header-nav">
      <a href="/home">NextPD</a>
      <p>ようこそ、<%= locals.username %>さん</p>
      <ul>
          <li><a href="/settingAccount">設定</a></li>
          <li><a href="/logout">ログアウト</a></li>
      </ul>
    </div>

</body>
  