<!DOCTYPE html>
<html>
  <head>
    <%- include("../../parts/head.ejs"); %>
  </head>
  <body>
    <div class="sign">
      <div class="container">
        <div class="panel">
          <h2>コーポレート登録</h2>
          <form action="/cs/registerCorp" method="post">
            <p>コーポレート種別</p>
            <select name="corporateType">
              <option>商用</option>
              <option>業務用</option>
              <option>トライアル用</option>
            </select>
            <p>コーポレートID</p>
            <input type="text" name="corporateId" />
            <p>企業名</p>
            <input type="text" name="corporateName" />
            <p>管理者ユーザ名</p>
            <input type="text" name="username" />
            <p>管理者メールアドレス</p>
            <input type="text" name="email" />
            <p>パスワード</p>
            <input type="password" name="password" />
            <input type="submit" value="登録する" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
